{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}後台資料分析{% endblock title%}
{% block content %}
</br>
<p style="text-align:center; font-size:larger; background-color: #61edd1;font-weight:bolder">後台資料分析</p>

<script>     /*這個 script 用來做搜尋功能，使用時將第四行改成要搜尋的 table 即可*/
    $(document).ready(function () {
        $("#keyword").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#course tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div class="d-flex justify-content-between container-xxl">
    <div class="d-flex col-sm-4">
        <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </span>
        <input class="form-control me-2" id="keyword" placeholder="搜尋課程" aria-label="Search">
    </div>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="container-xxl">
    <form method='post' action={{ url_for('analysis.dashboard') }}>
        <table id="analysis" class="table table-bordered">
            <thead style="background-color:#44c1a8;">
                <tr>
                    <th width="10%">
                        <center>課程編號</center>
                    </th>
                    <th width="20%">
                        <center>課程名稱</center>
                    </th>
                    <th width="15%">
                        <center>開課系所</center>
                    </th>
                    <th width="15%">
                        <center>院系分佈</center>
                    </th>
                </tr>
            </thead>
            <tbody id="course">
                {% for i in bookdata %}
                <tr>
                    <td style="background-color: rgb(202, 247, 247); font-weight: bold;">
                        <center>{{ i.課程編號 }}</center>
                    </td>
                    <td>
                        <center>{{ i.課程名稱 }}</center>
                    </td>
                    <td>
                        <center>{{ i.開課系所 }}</center>
                    </td>
                    <td>
                        <center><button type="submit" value="{{i.課程編號}}" name="look"
                            class="btn btn-success">查看分佈</button></center>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>   
    </div>
</div>

{% endblock content %}