{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}學生選課資料{% endblock title%}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}
  
<script language="javascript">
  alert('您沒有使用者的權限喔！');
</script>

{% endif %}
{% endwith %}
<br/>
<p style="text-align:center; font-size:larger; margin-left: 50px;background-color: #61edd1;font-weight:bolder">學生聯絡人資料</p>

<br/>
<div class="container-xl">
  <br/>
  <form method="post" action={{ url_for('manager.studentManager') }}>
    <table class="table table-bordered">
      <tr  style="background-color:#44c1a8;">
        <th><center>學號</center></th>
        <th><center>姓名</center></th>
        <th><center>權限</center></th>
        <th><center>Email</center></th>
        <th><center>緊急聯絡人姓名</center></th>
        <th><center>緊急聯絡人電話</center></th>
      </tr>
      {% for lesson in orderData %}
      <tr>

        <td style="background-color: rgb(202, 247, 247); font-weight: bold;"> <center>{{ lesson.學號 }}</center></td>
        <td> <center>{{ lesson.姓名 }}</center></td>
        <td> <center>{{ lesson.權限 }}</center></td>
        <td> <center>{{ lesson.Email }}</center></td>
        <td> <center>{{ lesson.緊急聯絡人姓名 }}</center></td>
        <td> <center>{{ lesson.緊急聯絡人電話 }}</center></td>


      </tr>
      {% endfor %}
    </table>

  </form>

</div>

{% endblock content%}