{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}購物車清單{% endblock title%}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}
  
<script language="javascript">
  alert('您沒有使用者的權限喔！');
</script>

{% endif %}
{% endwith %}

<br/>
<div class="container-xl">
  <br/>
  <form method="post" action={{ url_for('bookstore.selectPage') }}>
    <table class="table table-bordered">
      <tr>
        <th><center>課程編號</center></th>
        <th><center>課程名稱</center></th>
        <th><center>開課系所</center></th>
        <th><center>開課教師</center></th>
        
        <!-- <th><center>數量</center></th> -->
        <th><center>退選</center></th>
      </tr>
      {% for lesson in data %}
      <tr>
        <td> <center>{{ lesson.課程編號 }}</center></td>
        <td> <center>{{ lesson.課程名稱 }}</center></td>
        <td> <center>{{ lesson.開課系所 }}</center></td>
        <td> <center>{{ lesson.教師姓名[0] }}</center></td>
        <td>
          <center>
            <button class="btn btn-danger" type="submit" value="{{lesson.課程編號}}" name="delete" onclick="return (confirm('你確定要退選「{{ lesson.課程名稱 }}」 嗎？'))">
              退選
            </button>
          </center>
      </td>
      </tr>
      {% endfor %}
    </table>
    <!-- <center>
      <div class="option">
        <button class="btn btn-primary" type="submit" value="edit" name="user_edit" >繼續購物</button>
        <button class="btn btn-success" type="submit" value="edit" name="buy" >直接結帳</button>
      </div>
    </center> -->


  </form>

</div>

{% endblock content%}