{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Register Page{% endblock title%}

{% block content%}
<div class="position-absolute top-50 start-50 translate-middle outer_div">
    <a href="{{ url_for('index') }}"><img class="icon" src="{{ url_for('static', filename='./img/home.png') }}"></a>
    <h1 class="register_title mb-3 mt-3">註冊頁面</h1>

    <div class="form_div">
        <form method='post' action={{ url_for('api.register') }}>
            <p class="mb-3">
                姓名：<input type="text" name="username" required />
            </p>
            <p class="mb-3">
                學號：<input type="text" name="student_id" required />
            </p>
            <p class="mb-3">
                帳號：<input type="text" name="account" required />
                {% with messages = get_flashed_messages() %}
                {% if messages %}
            </p>
            <p class="same_accoount">
                *已經有相同的帳號名稱
            </p>
            {% endif %}
            {% endwith %}

            <p class="mb-3">
                密碼：<input type="password" name="password" required />
            </p>
            <p class="mb-3">
                <label for="grade">系所：</label>
                <select class="form-select" name="grade" id="grade" required>
                   <option selected disabled value="">請選擇系所</option>  
                   <option value="資訊管理學系">資管系</option>
                   <option value="資訊工程學系">資工系</option>
                   <option value="電機工程學系">電機系</option>
                   <option value="會計學系">會計學系</option>
                   <option value="法律學系">法律學系</option>
                   <option value="機械工程學系">機械工程學系</option>
                   <option value="工商管理學系">工商管理學系</option>
                   <option value="財務金融學系">財務金融學系</option>
                </select>
             </p> 









            <p class="mb-3">
                Email：<input type="text" name="email" required />
            </p>
            <p class="mb-3">
                緊急聯絡人姓名：<input type="text" name="contName" required />
            </p>
            <p class="mb-3">
                緊急聯絡人身份證字號：<input type="text" name="id" required />
            </p>
            <p class="mb-3">
                緊急聯絡人電話：<input type="text" name="phone" required />
            </p>
            <div class="btn_div mb-4" style="margin-bottom: 1rem;">
                <p class="option_div">選擇你要註冊的身份：</p>
                <select name="identity">
                    <option value="user" selected>使用者</option>
                    <option value="manager">管理員</option>
                </select>
            </div>

            <p>
                <a href="{{ url_for('index') }}">
                    <button type="button" class="register_btn">回上頁</button>
                </a>
                <button type="submit" class="register_btn"> 註冊</button>
            </p>
        </form>
    </div>
</div>
{% endblock content%}